.headline {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.headline .leftContent,
.headline .rightContent {
  flex: 1;
}
.headline .leftContent h1 {
  font-size: 2.7rem;
  font-family: "Kalam", cursive;
  background: var(
    --brand-gradient-horizontal,
    linear-gradient(90deg, #9955e8 0%, #7bffaf 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1.8rem;
}
.headline .leftContent h2 {
  color: var(--text-primary);
  font-size: 1.7rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
.headline .leftContent p {
  padding-bottom: 2rem;
  color: var(--text-secondary);
  font-size: 1.1rem;
  font-weight: 400;
}
.headline .leftContent .socials a {
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
  color: var(--primary-color-400);
  font-size: 2.1rem;
  transition: all 0.3s ease;
}
.headline .leftContent .socials a:hover {
  filter: brightness(80%);
}

.headline .rightContent img {
  border-radius: 54% 30% 67% 40%;
}

@media (max-width: 768px) {
  .headline {
    flex-direction: column;
    gap: 0rem;
  }
  .headline .leftContent {
    flex: initial;
  }
  .headline .leftContent h1 {
    padding-bottom: 0;
  }
  .headline .rightContent img {
    width: 400px;
  }
}

.about {
  display: flex;
  margin: 0 3rem;
  padding: 4rem;
  background-color: var(--surface-primary);
  border-radius: 10px;
}
.about .leftContent,
.about .rightContent {
  flex: 1;
}
.about .rightContent {
  padding: 4rem;
}
.about .rightContent .tecnologies svg {
  margin-right: 20px;
  color: var(--primary-color-400);
  margin-bottom: 2rem;
}
.about .rightContent h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  padding-bottom: 1rem;
  color: var(--text-primary);
}
.about .rightContent p {
  color: var(--text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}
.about .rightContent button {
  background-color: var(--primary-color-400);
  border: none;
  border-radius: 8px;
  padding: 1.2rem 2.2rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text-primary);
}
.about .rightContent button:hover {
  filter: brightness(80%);
}

@media (max-width: 768px) {
  .about {
    padding: 10px;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0.5rem;
  }
  .about .rightContent {
    padding: 0;
  }
}

.projectsContainer {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.titleProjects {
  text-align: center;
}
.titleProjects p {
  font-size: 2rem;
  color: var(--text-primary);
  font-weight: 500;
  margin-bottom: 3rem;
}
.projetcs {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.projetcs .card {
  max-width: 360px;
  padding: 20px;
  background-color: var(--surface-primary);
  border-radius: 10px;
}
.projetcs .card img {
  border-radius: 10px 10px 0 0;
}
.timeProject {
  padding-top: 5px;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timeProject p {
  color: var(--text-secondary);
  font-size: 0.875rem;
  font-weight: 400;
}
.timeProject svg {
  color: var(--primary-color-400);
}
.card h1 {
  font-size: 1.25rem;
  color: var(--text-primary);
  padding-bottom: 0.5rem;
}
.card > p {
  font-size: 1rem;
  color: var(--text-primary);
}

.contact {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--surface-primary);
}
.contact .leftContent,
.contact .rightContent {
  flex: 1;
}
.contact .leftContent h2 {
  color: var(--text-primary);
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.contact .leftContent p {
  color: var(--text-secondary);
  font-size: 1rem;
}
.formContact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 3rem;
}
.formContact input,
.formContact textarea  {
  padding: 0.75rem 1rem;
  color: var(--text-secondary);
  background-color: var(--surface-background);
  border-radius: 0.5rem;
  border: 2px solid transparent;
  resize: none;
  outline: none;
  transition: all 0.3s ease;
}
.formContact input::placeholder,
.formContact textarea::placeholder  {
  color: var(--text-secondary);
}
.formContact input:focus,
.formContact input:hover,
.formContact textarea:focus,
.formContact textarea:hover{
  border: 2px solid var(--secondary-color);
}

.formContact button {
  width: max-content;
  border: none;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: var(--primary-color-400);
  color: var(--text-primary);
  font-weight: 500;
  font-size: 1rem;
}

@media(max-width: 768px) {
  .contact {
    flex-direction: column;
    padding: 20px;
    gap: 3rem;
  }
  .contact .rightContent {
    width: 100%;
  }
  .formContact {
    padding: 0;
  }
}