.header {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding: 0 20px;
}
.headerContainer > a {
  color: var(--text-primary);
  font-family: 'Kalam', cursive;
  font-size: 1.3rem;
  padding: 10px 15px;
}
.headerContainer > svg {
  padding: 10px 15px;
  display: none;
  cursor: pointer;
}

.ulMenu {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.ulMenu li a {
  font-size: 1.3rem;
  padding: 10px 15px;
  font-weight: 400;
  font-family: 'Heebo', sans-serif;
}
.ulMenu li svg {
  padding: 10px 15px;
}
.navMenu {
  transition: all 0.3s ease;
}
.buttonTranslater {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  font-size: 1.3rem;
  padding: 10px 15px;
}


@media(max-width:768px) {
  .headerContainer > svg {
    display: block;
  }
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--surface-background);
    z-index: 1000;
  }
  .navMenu {
    position: fixed;
    top: 80px;
    right: -100%;
    background-color: var(--surface-primary);
    width: 70%;
    height: 100vh;
  }
  .navMenu.active {
    right: 0;
  }
  .ulMenu {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2rem;
    gap: 2rem;
    padding-top: 2rem;
  }
  .ulMenu li a {
    font-size: 1rem;
  }
}