:root {
  --primary-color-500: #0C5A6E;
  --primary-color-400: #00B2A9;
  --secondary-color: #ff4a3d;
  
  --surface-background: #1F2833;
  --surface-primary: #39424E;
  --surface-secondary: #53687c;
  --surface-tertiary: #5A6978;
  
  --text-primary: #FFFFFF;
  --text-secondary: #D8E3E7;
}

/* font-family: 'Heebo', sans-serif;
font-family: 'Kalam', cursive; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--surface-background);
  font-family: 'Heebo', sans-serif
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
img {
  max-width: 100%;
}
h1, h2, h3, p {
  margin: 0 ;
  padding: 0;
}

@keyframes subirDescer {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.botaoAnimado {
  animation: subirDescer 2s ease-in-out infinite;
}

.loading {
  border: 4px solid #f3f3f3; /* Cor do círculo */
  border-top: 4px solid #3498db; /* Cor do círculo quando está rodando */
  border-radius: 50%; /* Forma do círculo */
  width: 8px; /* Tamanho do círculo */
  height: 8px; /* Tamanho do círculo */
  animation: spin 1s linear infinite; /* Animação de rotação */ 
}

/* Animação de rotação */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@media(max-width: 768px) {
  .main {
    padding-top: 80px;
  }
}